body {
    margin: 0;
    /*background: #A52A2A;*/
    font-family: 'Dancing Script', cursive; 
  }

.header {
    background: #A52A2A;
    color: rgb(180, 132, 12);
    height: 120px;
    margin: 0;
    padding: 0;
    display : flex;
    justify-content: space-between; /* alignement vertical */
    align-content: center;
}

.classh1 {
    margin: 20px;
    font-size: 60px;
}

.header a {
    text-decoration: none;
    color: inherit
}

.menu{
    height: 120px;
    align-self: flex-end;
}

.listemenug {
    word-spacing: 20px;
    font-size: 20px;    
}

.listemenug li {
    display:inline;
}

.p2{
    background: #A52A2A;
}