body {
    margin: 0;
    /*background: #A52A2A;*/
    font-family: 'Dancing Script', cursive; 
  }

.header {
    background: #A52A2A;
    color: rgb(180, 132, 12);
    height: 120px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display : flex;
}

.lienheader1 {
    text-decoration: none;
    color: rgb(180, 132, 12)
}

#listemenug li {
    display:inline;
}